{% extends 'base.html' %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-50">
					<span class="login100-form-title p-b-51">
						{{ message }}
					</span>
					<div class="m-t-17" style="padding-left: 75px;">
							<a class="btn btn-outline-dark" href="{{ url_for('login')}}" style="margin: auto; width: 75%; font-size: x-large;">Login</a>
					</div>
					<div class="m-t-17" style="padding-left: 75px;">
						<a class="btn btn-outline-dark" href="{{ url_for('register')}}" style="margin: auto; width: 75%; font-size: x-large;">Register</a>
					</div>
			</div>
		</div>
	</div>
{% endblock %}
