{% extends 'base.html' %}
{% block content %}

<body>
    <div class="limiter">
        <nav class="navbar navbar-expand-lg bg-nav-grad">
            <div class="container-fluid">
                <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
                <p class="navbar-brand text-light" href="#">Teacher Portal</p>
                <a class="btn btn-outline-dark btn-lg" href="/logout">Logout</a>
            </div>
        </nav>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">View Results for Prompt 1</a>
            <a href="#">View Results for Prompt 2</a>
            <a href="#">View Results for Prompt 3</a>
            <a href="#">View Results for Prompt 4</a>
            <a href="#">View Results for Prompt 5</a>
            <a href="#">View Results for Prompt 6</a>
            <a href="#">View Results for Prompt 7</a>
            <a href="#">View Results for Prompt 8</a>
        </div>


        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "300px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </div>
</body>
{% endblock %}